<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--编写xml文件，配置需要创建的bean-->
    <bean id="user" class="com.smallfatcat.pojo.User">
        <property name="id" value="1"/>
        <property name="username" value="李四"/>
        <property name="password" value="1234"/>
    </bean>


</beans>